@import url('bootstrap/dist/css/bootstrap.css');
@import url('bootstrap-vue/dist/bootstrap-vue.css');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('//cdn.web-fonts.ge/fonts/dejavu-sans-condensed/css/dejavu-sans-condensed.min.css');
@import url('//cdn.web-fonts.ge/fonts/bpg-glaho-web-caps/css/bpg-glaho-web-caps.min.css');

.mobile {
  display: none;
}

html,
body {
  font-family: 'Open Sans', 'DejaVu Sans Condensed', sans-serif;
}
input {
  border-radius: 0 !important;
}
#app {
  font-family: 'Open Sans', 'DejaVu Sans Condensed', sans-serif;
  /* font-family: 'Roboto Condensed', 'DejaVu Sans Condensed', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  position: relative;
}
.main {
  padding-bottom: 30px;
  min-height: calc(100vh - 339px);
}
p {
  text-align: justify;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  color: #e07400;
}
a {
  color: #b74f29;
}

.flag-icon {
  width: 26px;
  line-height: 22px;
}

.dropdown-menu {
  padding: 0;
  margin-top: 0;
  overflow-x: hidden;
}

.dropdown-menu.show {
  display: block;
  border-radius: 0;
  overflow: hidden;
  background-color: #081227;
  border: none;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  color: #d4dbe4;
  border-bottom: 1.3px solid #19233e;
}

.dropdown-override:last-child .dropdown-item {
  border: none;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: #0e172f !important;
  color: #fff !important;
}

.main-nav-item:hover {
  background-color: #081227;
}

.main-nav-item:hover .dropdown-menu {
  display: block;
  border-radius: 0;
  background-color: #081227;
  border: none;
}

.nav-link {
  padding-top: 0.7rem !important;
}

.container.styled {
  background: #eee;
  padding: 20px 30px;
}

.btn-read-more {
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: inherit;
  border: none;
  box-shadow: none;
  height: 30px;
  padding: 0;
  font-size: 14px;
  color: #db2323;
}
.btn-read-more:active,
.btn-read-more:visited {
  color: #ff5d43 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.btn-read-more:hover {
  color: #ff5d43;
}
.btn-container {
  padding: 8px !important;
  text-align: right;
}

.cards {
  margin-top: 30px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}
.cards:first-child {
  margin-top: 0;
}
.card {
  border-radius: 0 !important;
}
.card-img-top {
  border-radius: 0 !important;
}
.card-body {
  padding: 10px;
}
.card-img {
  border-radius: 0;
}
.card-title,
.card-text {
  color: #333;
}
.section-title {
  font-size: 20px;
  padding-left: 10px;
  border-left: 3px solid #b74f29;
  color: #141e3a;
  font-weight: bold;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.lightbox {
  z-index: 99999;
}
.btn {
  border-radius: 0;
}
.btn-secondary.decision-tab {
  font-size: 18px;
  font-weight: bold;
  color: #141e3a;
  background-color: #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) !important;
  border: none;
  padding: 8px 20px;
}

.decision-tab:hover {
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.decision-tab.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
  border-bottom: 3px solid #db2323 !important;
  color: #141e3a !important;
  background-color: #ddd !important;
  border-color: #db2323 !important;
}
.decision-date {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
.card-header,
.card-footer {
  padding: 8px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.card {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px #ddd solid;
}
.table th {
  border-top: none;
}
.custom-file-label {
  border-radius: 0;
}
.share-text {
  font-size: 16px;
  cursor: pointer;
  color: #405d9b;
}
.triangle {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f7f7f7 transparent;
  opacity: 0;
  transition: 0.3s ease all;
}
.line-limit-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
  line-height: 28px;
}

.img-100 {
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.lightbox__thumbnail img {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: contain;
}
.card-header > a {
  color: #141e3a;
  font-weight: bold;
  transition: 0.3s ease all;
}
.card-header > a:active,
.card-header > a:focus,
.card-header > a:hover {
  color: #e07400;
  transition: 0.3s ease all;
}

.vuecal__cell-events-count {
  position: absolute;
  left: 50%;
  top: 0 !important;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 30px !important;
  height: 30px !important;
  line-height: 12px;
  padding: 0 3px;
  background: #007bff5e !important;
  color: transparent !important;
  border-radius: 4px !important;
  border: 2px solid #141e3a !important;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
  .mobile {
    display: block;
  }

  p,
  div,
  span,
  a {
    font-size: 14px !important;
  }

  .section-title,
  h3,
  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  .container {
    padding-right: 8px;
    padding-left: 8px;
  }

  .app-top-header {
    margin: 10px 0 !important;
  }
}
