@import url('bootstrap/dist/css/bootstrap.css');
@import url('bootstrap-vue/dist/bootstrap-vue.css');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('//cdn.web-fonts.ge/fonts/dejavu-sans-condensed/css/dejavu-sans-condensed.min.css');
@import url('//cdn.web-fonts.ge/fonts/bpg-glaho-web-caps/css/bpg-glaho-web-caps.min.css');

html,
body {
  font-family: 'Open Sans', 'DejaVu Sans Condensed', sans-serif;
}

#app {
  font-family: 'Open Sans', 'DejaVu Sans Condensed', sans-serif;
  /* font-family: 'Roboto Condensed', 'DejaVu Sans Condensed', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  position: relative;
}

p{
  text-align: justify;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  color: #e07400;
}
a{
  color: #ff8400;
}

.flag-icon{
  width: 26px;
  line-height: 22px;
}

.dropdown-menu {
  padding: 0;
  margin-top: 0;
  overflow-x: hidden;
}

.dropdown-menu.show {
  display: block;
  border-radius: 0;
  overflow: hidden;
  background-color: #081227;
  border: none;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  color: #d4dbe4;
  border-bottom: 1.3px solid #19233e;
}

.dropdown-override:last-child .dropdown-item{
  border: none;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active{
  background-color: #0e172f!important;
  color: #fff!important;
}

.main-nav-item:hover{
  background-color: #081227;
}

.main-nav-item:hover .dropdown-menu{
  display: block;
  border-radius: 0;
  background-color: #081227;
  border: none;
}

#nav-collapse, .navbar-nav{
  height: 3rem;
}

.nav-link {
  padding-top: 0.7rem!important;
}

.container.styled{
  background: #eee;
  padding: 20px 30px;
}

.btn-read-more{
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: inherit;
  border: none;
  box-shadow: none;
  height: 30px;
  padding: 0;
  font-size: 14px;
  color: #DB2323;
}
.btn-read-more:active, .btn-read-more:visited{
  color:#ff5d43!important;
  background: none!important;
  border: none!important;
  box-shadow: none!important;
}
.btn-read-more:hover{
  color:#ff5d43;
}
.btn-container{
  padding: 8px!important;
  text-align: right;
}

.cards {
  margin-top: 30px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}
.cards:first-child{
  margin-top: 0;
}
.card{
  border-radius: 0!important;
}
.card-img-top{
  border-radius: 0!important;
}
.card-body{
  padding:10px;
}
.card-img{
  border-radius: 0;
}
.section-title{
  font-size: 20px;
  padding-left: 10px;
  border-left: 3px solid #ff8400;
  color: #141e3a;
  font-weight: bold;
}